:root {
    --unit: 4vmin;
    --border: .5vmin;
    --margin: .2vmin;
    --fontsize: 1.5vmin;

    --color-active-text: red;
    --color-bg: lightslategray;
    --color-bodypart-border: black;
    --color-bodypart-text: black;
    --color-button-bg: white;
    --color-button-border-inactive: darkgrey;
    --color-button-border: black;
    --color-button-text-hover: red;
    --color-button-text-inactive: grey;
    --color-button-text: black;
    --color-card-bg: white;
    --color-card-border-selected: red;
    --color-card-border-used: darkgrey;
    --color-card-border: grey;
    --color-card-hand-left-text: navy;
    --color-card-hand-right-text: maroon;
    --color-card-hand-text-hover: black;
    --color-card-text-used: grey;
    --color-card-text: black;
    --color-clickable-text-hover: red;
    --color-game-border: black;
    --color-grid-bg: white;
    --color-grid: silver;
    --color-hand-left-border: navy;
    --color-hand-right-border: maroon;
    --color-header-menu-text-hover: red;
    --color-header-menu-text: darkslategray;
}

body {
    background-color: var(--color-bg);
}

.menu, .game {
    position: relative;
    height: calc(20 * var(--unit));
    width: calc(20 * var(--unit));
    margin: 5vh auto;
    border: calc(2 * var(--border)) solid var(--color-game-border);
    border-radius: calc(var(--unit) / 2);
    background-size: var(--unit) var(--unit);
    background-image:
        linear-gradient(to right, var(--color-grid) 1px, transparent 1px),
        linear-gradient(to bottom, var(--color-grid) 1px, var(--color-grid-bg) 1px);
    font-family: monospace;
    font-size: var(--fontsize);
    user-select: none;
}
.game {
    display: flex;
}

.menu-upper {
    z-index: 10;
    position: absolute;
    top: 0;
    display: flex;
    width: calc(100% - var(--unit) / 2);
    padding: 0 calc(var(--unit) / 4);
    justify-content: space-between;
    line-height: var(--unit);
    font-size: 150%;
    color: var(--color-header-menu-text);
}
.menu-upper .clickable {
    cursor: pointer;
}
.menu-upper .clickable:hover {
    color: var(--color-header-menu-text-hover);
}

.line {
    display: block;
    line-height: var(--unit);
    margin: 0 calc(1.25 * var(--unit));
    font-size: 150%;
}
h1.line {
    margin-left: 0;
    line-height: calc(3 * var(--unit));
    text-align: center;
    font-size: 600%;
    font-weight: bold;
}

.input {
    width: 100%;
    border-style: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    color: var(--color-active-text);
    background-color: transparent;
}
.line:has(.input.status):after {
    content: "✅";
    float: right;
    position: relative;
    bottom: var(--unit);
    left: var(--unit);
    transform: scale(0);
    transition: .2s cubic-bezier(1, 0, 0.75, 2) transform;
}
.line:has(.input.status.success):after {
    transform: scale(1.25);
}

.controller-left, .controller-right {
    margin-left: calc(2.25 * var(--unit));
    cursor: pointer;
}
.controller-left.selected, .controller-right.selected {
    font-weight: bold;
    color: var(--color-active-text);
}

.side {
    --selected-action-card-index: 1;
    --selected-hand-card-index: 1;
    flex: 50%;
}

.robot {
    position: relative;
    height: calc(10 * var(--unit));
}

.state {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: var(--unit);
    font-size: 200%;
}

.bodypart {
    position: absolute;
    --up: 0;
    --forward: 4;
    bottom: calc(var(--up) * var(--unit) + var(--margin));
    left: calc(var(--forward) * var(--unit) + var(--margin) + 1px);
    --height: 2;
    --width: 2;
    height: calc(var(--height) * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    width: calc(var(--width) * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    border: var(--border) solid var(--color-bodypart-border);
    border-radius: calc(var(--unit) / 4);
    text-align: center;
    padding: var(--margin);
    font-size: 150%;
    transition:
        450ms ease-in-out left,
        450ms ease-in-out right,
        450ms ease-in-out top,
        450ms ease-in-out bottom;
    color: var(--color-bodypart-text)
}

.side.right .bodypart {
    left: auto;
    right: calc(var(--forward) * var(--unit) + var(--margin));
}

.head {
    --up: 6;
}

.torso {
    --up: 3;
    --height: 3;
}

.heatsink {
    --up: 1;
}

.hand {
    --height: 1;
    --width: 1;
    --forward: 7;
}

.hand.right {
    border-color: var(--color-hand-right-border);
}
.hand.left {
    border-color: var(--color-hand-left-border);
}

.hand.blocking {
    --height: 2;
    --width: .5;
}
.hand.charged {
    --forward: 3.5;
}
.hand.attacking {
    --forward: 13;
}
.hand.attacking.blocked {
    --forward: 11.5;
}

.cards,
.actions {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    flex: auto;
    flex-grow: 0;
    --card-height: calc(2.5 * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    height: var(--card-height);
    width: calc(1.8 * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    margin: calc(.5 * var(--unit)) var(--margin);
    border: var(--border) solid var(--color-card-border);
    border-radius: calc(var(--unit) / 4);
    line-height: calc(var(--card-height) / 3);
    text-align: center;
    background-color: var(--color-card-bg);
    color: var(--color-card-text);
}

.card.used {
    color: var(--color-card-text-used);
    border-color: var(--color-card-border-used);
}
.card.selected {
    border-color: var(--color-card-border-selected);
}

.hand-toggle {
    position: absolute;
    bottom: calc(-.8 * var(--fontsize) - var(--border));
    width: 100%;
    line-height: 1;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}
.hand-toggle.right {
    color: var(--color-card-hand-right-text);
}
.hand-toggle.left {
    color: var(--color-card-hand-left-text);
}
.hand-toggle:hover {
    color: var(--color-card-hand-text-hover);
}

.message-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: calc(2 * var(--unit));
    font-weight: bold;
    font-size: 600%;
    top: calc(4 * var(--unit));
    color: var(--color-active-text);
}

.button {
    width: fit-content;
    --button-height: calc(1.5 * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    height: var(--button-height);
    line-height: var(--button-height);
    margin: calc(.5 * var(--unit)) auto;
    border: var(--border) solid var(--color-button-border);
    border-radius: var(--unit);
    font-size: 150%;
    padding: 0 calc(.5 * var(--unit));
    background-color: var(--color-button-bg);
    color: var(--color-button-text)
}
.button.pushed {
    color: var(--color-button-text-inactive);
    border-color: var(--color-button-border-inactive);
    cursor: inherit;
}
.button.clickable {
    cursor: pointer;
}
.button.clickable:hover {
    color: var(--color-button-text-hover);
}