:root {
    --unit: 3vmin;
    --border: .3vmin;
    --margin: .2vmin;
    --gridcolor: silver;
}

.game {
    position: relative;
    display: flex;
    height: calc(20 * var(--unit));
    width: calc(20 * var(--unit));
    margin: 10vh auto;
    border: calc(2 * var(--border)) solid black;
    border-radius: calc(var(--unit) / 2);
    background-size: var(--unit) var(--unit);
    background-image:
        linear-gradient(to right, var(--gridcolor) 1px, transparent 1px),
        linear-gradient(to bottom, var(--gridcolor) 1px, transparent 1px);
    font-family: monospace;
}

.side {
    --selected-action-card-index: 1;
    --selected-hand-card-index: 1;
    flex: 50%;
}

.robot {
    position: relative;
    height: calc(10 * var(--unit));
}

.bodypart {
    position: absolute;
    --up: 0;
    --forward: 4;
    bottom: calc(var(--up) * var(--unit) + var(--margin));
    left: calc(var(--forward) * var(--unit) + var(--margin) + 1px);
    --height: 2;
    --width: 2;
    height: calc(var(--height) * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    width: calc(var(--width) * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    border: var(--border) solid black;
    border-radius: calc(var(--unit) / 4);
    transition:
        450ms ease-in-out left,
        450ms ease-in-out right,
        450ms ease-in-out top,
        450ms ease-in-out bottom;
}

.side.right .bodypart {
    left: auto;
    right: calc(var(--forward) * var(--unit) + var(--margin));
}

.head {
    --up: 6;
}

.torso {
    --up: 3;
    --height: 3;
}

.heatsink {
    --up: 1;
}

.hand {
    --height: 1;
    --width: 1;
    --forward: 7;
}

.hand.right {
    border-color: maroon;
}
.hand.left {
    border-color: navy;
}

.hand.blocking {
    --height: 2;
    --width: .5;
}
.hand.charged {
    --forward: 3.5;
}
.hand.attacking {
    --forward: 13;
}
.hand.attacking.blocked {
    --forward: 11.5;
}

.hand.position1 {
    --up: 7;
}

.hand.position2 {
    --up: 6;
}

.hand.position3 {
    --up: 5;
}

.hand.position4 {
    --up: 4;
}

.hand.position5 {
    --up: 3;
}

.hand.position6 {
    --up: 2;
}

.hand.position7 {
    --up: 1;
}

.cards,
.actions {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    flex: auto;
    flex-grow: 0;
    height: calc(2.5 * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    width: calc(1.8 * var(--unit) - 2 * var(--border) - 2 * var(--margin) - 1px);
    margin: calc(.5 * var(--unit)) var(--margin);
    border: var(--border) solid grey;
    border-radius: calc(var(--unit) / 4);
    font-size: 1.3vmin;
    line-height: 1.5;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.card.selected {
    border-color: red;
}

.hand-toggle {
    position: absolute;
    bottom: calc(-1vmin - var(--border));
    width: 100%;
    line-height: 1;
    font-size: 1vmin;
    font-weight: bold;
    text-align: center;
}
.hand-toggle.right {
    color: maroon;
}
.hand-toggle.left {
    color: navy;
}
.hand-toggle:hover {
    color: black;
}

.button {
    width: fit-content;
    margin: calc(.5 * var(--unit)) auto;
    border: var(--border) solid black;
    border-radius: calc(var(--unit) / 2);
    font-size: 1.5vmin;
    padding: .75vmin;
    background-color: white;
    cursor: pointer;
}